form {
    float: left;
    width: 400px;
    margin: auto;
}

input {
    padding: 4px 10px;
    border: 1;
    font-size: 16px;
}

.search {
    width: 75%;
}

.submit {
    width: 70px;
    background-color: #1c87c9;
    color: #ffffff;
}

h1 {
    background-image: linear-gradient(to right, rgb(168, 75, 255), rgb(69, 56, 255));
    margin: 0;
    height: 50px;
    text-align: center;
    color: white;
    
}